mixin password-rules
    template#template-password-rules
        .password-rules
            h4 #{localization.password_rules.title}
            .password-rules-list
                .password-rule.length  #{localization.password_rules.character_length_rule}
                .password-rule-hierarchal
                    .password-rule.password-rule-mainrule.any-three #{localization.password_rules.any_three}
                    .password-rule-subrules
                        .password-rule.password-rule-subrule.special  #{localization.password_rules.special_character_rule}
                        .password-rule.password-rule-subrule.number  #{localization.password_rules.number_rule}
                        .password-rule.password-rule-subrule.uppercase  #{localization.password_rules.uppercase_rule}
                        .password-rule.password-rule-subrule.lowercase  #{localization.password_rules.lowercase_rule}
